<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por registrarse en la nueva API de Diseney, <%= @user.email %>!</h1>
    <p>Puede visitar <a href="https://github.com/mauriciomas77">Github</a> para más información de cómo consumir la API
    </p>

    <p>Atentamente.-</p>
    <strong>Mauricio</strong>
  </body>
</html>
