<div class="d-flex flex-column align-items-center mt-5">
  <h1>Api Disney</h1>
  <img class="w-50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Disney_wordmark.svg/1200px-Disney_wordmark.svg.png" alt="">
  <div>
    <a href="https://github.com/mauriciomas77">
      <img class="w-25" src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="">
    </a>
  </div>
</div>
